.btn{
    padding: 0.75rem 1.5rem;
    background-color: #FEA116;
    border: 1px solid transparent;
    border-radius: 2px;
    border-color: #FEA116;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

}
