.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image:linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url('/public/images/bg-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    padding: 3rem 2rem;
    overflow: hidden;
    box-sizing: border-box;
    color: white;
}
.hero-left h1{
    font-family: Pacifico, cursive;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.hero-left p{
    font-size:1.25rem ;
    margin-bottom: 1.5rem;
}
.hero-right img{   
    /* width: 60%;
    height: 60%; */
    width: 520px;
    height: 520px;
    animation: rotate 60s linear infinite;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@media screen and (max-width: 768px) {
   .hero-section{
       flex-direction: column;
       height: fit-content;
   }
   .hero-left{
        text-align: center;
        margin-top: 3rem;
   }
   .hero-right{
    padding-top: 3rem;
   }
   .hero-right img{   
    width: 100%;
    height: 100%;
}
}