.hero-section{
    display: flex;
    align-items: center;
    background-image:linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url('/public/images/bg-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    padding: 3rem 0rem; 
    overflow: hidden;
    box-sizing: border-box;
    color: white;
    width: 100%;
}
.hero-left{
  width: 50%;
  padding: 0rem 1.5rem;
}
.hero-left h1{
    font-family:  "Nunito", sans-serif;
    font-size: var(--hero-heading);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.hero-left p{
  font-family: "Heebo", sans-serif;
    margin-bottom: 1.5rem;
    line-height: 1.5;

}
.hero-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.hero-right img{   
    width: 90%;
    height: 90%;
    animation: rotate 60s linear infinite;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@media screen and (max-width: 900px) {
   .hero-section{
       flex-direction: column;
       height: fit-content;
   }
   .hero-left{
      width: 100%;
      text-align: center;
      margin-top: 3rem 0rem;
   }
   .hero-left h1{
    font-size: var(--hero-md-heading);
   }
   .hero-left p{
    width: 87%;
    
    justify-self: center;
}
   .hero-right{
    width: 100%;
    padding-top: 3rem;
   }
   .hero-right img{   
    width: 90%;
    height: 90%;
}
}


@media screen and (max-width: 550px) {
    .hero-left h1{
      font-size: var(--hero-sm-heading);
    }
}

@media screen and (max-width: 300px) {
  .hero-left h1{
    font-size: 32px;
  }
}