.team-sec{
    padding: 3rem 1rem 0.75rem;
    text-align: center;
}
.team-sec h5{
    margin-bottom: 0.5rem;

}
.minitxt{
    font-family: Pacifico, cursive;
    color: var(--main-color);
}
.team-sec h1{
    font-size: var(--section-main-heading);
    margin-bottom: 3rem;
}
.cards-sec{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-img {
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem;
}
.card-img img {
    transition: transform 0.3s ease-in-out;
}
.card-img:hover img {
    transform: scale(1.1);
}
.team-cards{
    padding: 1rem 0rem;
    box-shadow: 0 2px 4px rgba(123, 122, 122, 0.2);
}


@media screen and (max-width: 768px) {
    .team-sec h1{
        font-size: var(--main-heading-md);
    }
}


@media screen and (max-width: 480px) {
    .team-sec h1{
        font-size: var(--main-heading-sm);
    }
}