*{
  font-family: "Nunito", sans-serif;
  margin: 0%;
  padding: 0%;
}
/* h1 {
  font-size: 40px; 
} */
h5 {
  font-size: 20px; 
}
small {
  font-size: 14px;
}



:root{
  /* colors */
  --main-color: #FEA116;

  /* Typography */
  --hero-heading: 5.5vw; /* use h1 */
  --section-main-heading: 40px; /* use h1 */
  
  /* @media(1200) */
  --main-heading-lg: 36px;

  /* @media(786) */
  --hero-md-heading:7vw;
  --main-heading-md: 30px;

  /* @media(480) */
  --hero-sm-heading:8vw;
  --main-heading-sm: 28px;
}
